@import url("@/styles/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.base-text{
  font-size: 11px;
  color: #222;
  font-weight: 400;
  line-height: 12px;
}
